<div class="container">
    <div class="content">
        <h1>Bem-vindo ao Sistema de Localização para Novos Supermercados em Bauru!</h1>
        <p>
            Nosso objetivo é ajudar novos empreendimentos a encontrar o ponto ideal para atender ao público de Bauru com eficiência e conveniência. Este sistema foi desenvolvido para auxiliar na escolha de locais estratégicos para a abertura de uma nova loja de supermercado, <b>voltado para a área em Bauru com renda predominante maior que 2 salários mínimos</b>.
        </p>
        <p>
            Através de uma análise detalhada e visualização em mapa, que exibe os valores de salário mínimos por região, identificamos as áreas que melhor atendem aos critérios de acessibilidade, concorrência e presença de negócios complementares. Assim, ajudamos a maximizar as chances de sucesso do empreendimento.
        </p>
        <p>Após explorar o mapa, preencha o formulário abaixo para receber informações detalhadas sobre a localização ideal para o seu supermercado.</p>
    </div>

    <div class="form-container">
        <%if @errors%>
            <div class="error-message">
                <span class="icon">⚠️</span>
                <div class="text">
                    <%=@errors.to_s%>
                </div>
            </div>
        <%end%>

        <%= form_with url: homepage_info_path, method: :post, local: true do |f| %>
            <div class="form-group">
                <%= f.label :tipo, "Tipo do imóvel:" %><br>
                <%= f.check_box :tipo, { multiple: true }, 'compra', nil %> Compra
                <%= f.check_box :tipo, { multiple: true }, 'aluguel', nil %> Aluguel
            </div>

            <div class="form-group">
                <%= f.label :rendimento, "Selecione o rendimento dos domicílios (salários mínimos)" %>
                <%= f.select :rendimento, options_for_select([
                ['Domicílios com Rendimento até 1/8 SM', 'V005'],
                ['Domicílios com Rendimento > 1/8 a 1/4 SM', 'V006'],
                ['Domicílios com Rendimento > 1/4 a 1/2 SM', 'V007'],
                ['Domicílios com Rendimento > 1/2 a 1 SM', 'V008'],
                ['Domicílios com Rendimento > 1 a 2 SM', 'V009'],
                ['Domicílios com Rendimento > 2 a 3 SM', 'V010'],
                ['Domicílios com Rendimento > 3 a 5 SM', 'V011'],
                ['Domicílios com Rendimento > 5 a 10 SM', 'V012'],
                ['Domicílios com Rendimento > 10 SM', 'V013'],
                ['Domicílios sem Rendimento', 'V014']
                ]), {}, { multiple: true, class: "form-control" } %>
            </div>

            <div class="form-group">
                <%= f.label :concorrencia, "Perto da Concorrência?" %><br>
                <%= f.radio_button :concorrencia, 1 %> Sim
                <%= f.radio_button :concorrencia, 0 %> Não
            </div>

            <div class="form-group">
                <%= f.label :comercios, "Perto dos Comercios?" %><br>
                <%= f.radio_button :comercios, 1 %> Sim
                <%= f.radio_button :comercios, 0 %> Não
            </div>

            <div class="form-group">
                <%= f.label :vias_movimentadas, "Perto de Vias Movimentadas?" %><br>
                <%= f.radio_button :vias_movimentadas, 1 %> Sim
                <%= f.radio_button :vias_movimentadas, 0 %> Não
            </div>

            <div class="form-group">
                <%= f.submit "Enviar", class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>
</div>

<%= render 'layouts/map'%>